<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h1>WanderLust</h1>
    <div class="container">
        <%- body -%> 
        <!-- this whole page react as the html page for each page where we use it menas everything written here are use except the body contnent b/c it here body data is given by other ejs page where we use ejs-mate  -->
    </div>
    
</body>
</html>