<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>All Listing</h3>
    <ul>
        <% for(let list of allListing){ %>
          <li><a href="/listings<%=list._id %>"><%= list.title %></li></a> <!-- here we use anchor tag because it convert the names into hyperlink and the herf whill redirect shor route where we will displat the specific data of that pericular title -->
        <%}%>
    </ul>
</body>
</html>