<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
    </head> -->
<% layout("/layouts/boilerplate")%>

    <body>
        <div class="row">
            <div class="col-8 offset-0.5">
                <h3>Creating a New Listing</h3>
                <form method="POST" action="/listings"  novalidate class="needs-validation">
                    <!-- we use novalidate of bootstrap for custom alert msg and give class name "need-validation" to apply some js logic -->
                    <!-- making all data as a obj of listing variable as tole in post request of saving data of nre listing -->
                    <div class="mb-3">
                        <label for="title" class="form-lable">Title</label>
                        <input name=listing[title] placeholder="enter title" type="text" class="form-control" required> 
                        <!-- required is used to make sure form must contain the tille data  -->
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-lable">Description</label>
                        <textarea name=listing[description] placeholder="write description" id=""
                            class="form-control" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-lable">Image Link</label>
                        <input name=listing[image] placeholder="enter or paste url of image" type="text"
                            class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-lable">Price</label>
                            <input name=listing[price] placeholder="put your price" type="number" class="form-control" required>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-lable">Country</label>
                            <input name=listing[country] placeholder="enter country" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-lable">Location</label>
                        <input name=listing[location] placeholder="enter location" type="text" class="form-control" required>
                    </div>
                    <button class="add-btn btn-dark mt-3 mb-2">ADD</button>
                </form>
            </div>
        </div>
    </body>
    <!-- </html> -->