<%layout("/layouts/boilerplate")%>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <form action="/signup" method="POST">
            <div class="mb-3">
                <label for="username" class="form-lable">Username</label>
                    <input name="username" placeholder="enter username" type="text" class="form-control" required> 
                        <!-- required is used to make sure form must contain the tille data  -->
                    <div class="invalid-feedback">
                        Please insert correct title.
                    </div>
            </div>
        </form>
    </div>
</div>